.form-group
	label(for='title') *TITLE:
	textarea#title.form-control(rows='1')
.form-group
	label(for='author') *AUTHOR:
	textarea#author.form-control(rows='1')
.form-group
	label(for='content') *CONTENT:
	textarea#content.form-control(rows='8')
input(type='button', value='POST' ,id="PostArticleButton")
hr