span
	|Hello World

.form-group
	label COUNTRY :
	input.form-control(type='text', placeholder!='<%- model.country %>')
.form-group
	label CITY:
	input.form-control(type='text', placeholder='')
.form-group
	label CURRENT COORDINATES:
	input.form-control(type='text', placeholder='')
.form-group
	label FIRST NAME:
	input.form-control(type='text', placeholder='')
.form-group
	label LAST NAME:
	input.form-control(type='text', placeholder='')
.form-group
	label BIRTH DATE:
	input.form-control(type='text', placeholder='')
.form-group
	label ID:
	input.form-control(type='text', placeholder='')
.form-group
	label PHONE NUMBER:
	input.form-control(type='text', placeholder='')


