h5 COUNTRY : <%- model.country %>

h5 CITY : <%- model.city %>

h5 CURRENT COORDINATES : <%- model.currentCoordinates %>

h5 FIRST NAME : <%- model.firstName %>

h5 LAST NAME : <%- model.lastName %>

h5 BIRTH DATE : <%- model.birthDate %>

h5 ID : <%- model.id %>

h5 PHONE NUMBER : <%- model.phoneNumber %>

i.glyphicon.glyphicon-edit.editContact

hr